<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is my test website</title>
  </head>
  <body>
    <div id="my-first-div" class="">
        <h1>My List</h1>
        <ol>
          <li>First</li>
          <li>Second</li>
        </ol>
        <ul>
          <li>Bullet one</li>
          <li>Bullet two</li>
        </ul>

        <ol>
          <li>one</li>
          <li>two</li>
          <ul>
            <li>nested one</li>
            <li>nested two</li>
          </ul>
        </ol>
        <p><strong>Bolded Text</strong></p>
        <p><em>Italics</em></p>
    </div>

    <div class="images">
      <h1>Images</h1>
      <!-- <img src="image.png" alt="image.png not found"> -->
      <a href="new_page.html">Click Me</a>

    </div>
  </body>
</html>
