<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lvl 1 Assessment</title>
  </head>
  <body>
    <h1>Welcome to my Website!</h1>
    <p>I'm excited to eventually learn Django!</p>
    <a href="https://www.djangoproject.com/">Here is a link to the official Django Website</a>

    <p>Here is a picture of the Python Logo:</p>
    <img src="image.png" alt="image not found">

    <p>Here are three reasons Django is cool</p>
      <ol>
        <li>Ridiculously Fast</li>
        <li>Reassuraingly Secure</li>
        <li>Exceedingly Scalable</li>
      </ol>

    <h2>Bonus: Optional Extra Credit</h2>
    <a href="https://www.djangoproject.com/">
      <img src="image.png" alt="No mas image senor">
    </a>
  </body>
</html>
